:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(184, 167, 145);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  overflow: hidden;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}